<!DOCTYPE html>
<html>
<head>
	<%- include('tmp-head.html'); %>
	<link rel="stylesheet" type="text/css" href="/styles/common.css">
	<link rel="stylesheet" type="text/css" href="/styles/post.css">
</head>
<body>
	<%- include('tmp-header.html'); %>
	<content>
		<div id="frames" class="wrap">
			<%- include('tmp-side.html'); %>
			<div id="main">
				<h1 class="title">New post</h1>
				<input type="text" id="title" placeholder="Post title" value="Lorem ipsum">
				<div id="editor-area">
					<textarea id="editor">Edit here...</textarea>
				</div>
				<nav> <button onclick="preview()">Preview</button> <button id="action-save" onclick="save()">Publish</button> <span id="message-save"></span></nav>
				<h1 class="preview title">Preview</h1>
				<div id="preview"></div>
			</div>
			<%- include('tmp-menu.html'); %>
		</div>
	</content>
	<%- include('tmp-footer.html'); %>
	<script>
	let blog = <%-JSON.stringify(blog,null,4)%>
	</script>
	<script src="/scripts/ckeditor.js"></script>
	<script src="/scripts/web3.min.js"></script>
	<script src="/scripts/wallet.js"></script>
	<script src="/scripts/blog-abi.js"></script>
	<script src="/scripts/blog-bin.js"></script>
	<script src="/scripts/post-new.js"></script>
	<script src="/scripts/common.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/editor-dark.css">
</body>
</html>